#information{
  height: 40px; width: 90%; border-radius: 15px 15px 15px 15px; color: black; font-size: medium; background-color: white; border: 2px solid;
}
ion-content{
  --ion-background-color:linear-gradient(-50deg,#2d4297, #456cbe, #4e93b1);
}

#air{
  height: 100px;
  width: 100px;
}

.buttoncolor{
  --ion-color-primary: #233f78;
}