<!-- <ion-header>
  <ion-toolbar color="primary">
    <center>
    <ion-title style="color:white; font-size: large;">에이스원 공기청정기</ion-title>
  </center>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background"><br><br><br><br>
  <center>
    <div style="display: flex; text-align: center;  justify-content: center;">
      <img src="assets/img/aceone.png" style="height: 50px; width: 50px; margin-right: 10px;"><b style="font-size: 40px; color: white; ">연결 기기 목록</b>
      </div><br><br>
  <!-- 연결된 공기청정기 목록 -->
<!-- 기기1 -->
  <ion-grid style="background-color:	white; width: 90%; border-radius: 10px 10px 10px 10px; border: 2px solid;">
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="solid" color="none" class="nomember-btn" (click)="home()" id="air" style="background-image:url('assets/img/air.png'); background-size:cover" ></ion-button>
      </ion-col>
      <ion-col>
        <p style="color: black;"><b>D212FMR</b></p>
        <ion-button expand="block" fill="solid"  class="buttoncolor" style="margin-top: 10px;">기기삭제</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid><br>
  <!-- 기기2 -->
  <ion-grid style="background-color: white; width: 90%; border-radius: 10px 10px 10px 10px; border: 2px solid;">
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="solid" color="none" class="nomember-btn" (click)="home()" id="air" style="background-image:url('assets/img/air.png'); background-size:cover" ></ion-button>
      </ion-col>
      <ion-col>
        <p style="color: black;"><b>A531QLB</b></p>
        <ion-button expand="block" fill="solid"   class="buttoncolor" style="margin-top: 10px;">기기삭제</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid><br>
  <!-- <ion-button expand="block" fill="solid" color="primary" class="nomember-btn" (click)="home()" color="dark">공기청정기1</ion-button> -->
  <!-- <ion-button expand="block" fill="solid" color="primary" class="nomember-btn" (click)="login()" color="dark" style="width: 80%;">돌아가기</ion-button> -->
  </center>
  <div>
    <center>
    <ion-button expand="block" fill="solid" class="buttoncolor" (click)="getWifiList()" style="width: 80%;">Wifi 검색</ion-button>
    </center>
    <ul id="wifi">
      <li id="wifiId_{{wifiId}}"  *ngFor="let wifiId of wifiList"><ion-button (click)="selectWifi(wifiId)" color="dark"> {{wifiId}}</ion-button></li>
    </ul>
  </div>
</ion-content>
