<!-- <ion-header>
  <ion-toolbar color="primary">
    <center>
      <ion-title style="color:white; font-size: large;">에이스원 공기청정기</ion-title>
  </center>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background">
  <center>
    <div style="display: flex; text-align: center;  justify-content: center; margin-top: 228px;">
    <img src="assets/img/aceone.png" style="height: 100px; width: 88px; margin-right: 10px;">
    </div><br>
    <!-- <b style="font-size: 28px; color: white;">로그인</b> -->
    <!-- <h1><b>Aceone</b></h1><br><br> -->
<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 로그인후 세션 유지 로그인 메인에 박스창@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
  <section *ngIf="(afAuth.user | async) as user; else loginItems">
    <b style="font-size: 28px; color: white;">현재 로그인 ID</b>
    <!-- <ion-card color="light"> -->
      <!-- <ion-card-header> -->
      <div style="margin-top: 20px;">
        <div style="background-color: #5794E9; width: 80%; height: 44px; border-radius: 25px 25px 25px 25px;">
        <ion-input><img src="../../assets/img/email.png" style="width: 20px; height: 20px; margin-left: 20px;"><b style="margin-left: 50px; color: white;">{{user.email}}</b></ion-input>
        </div>
      </div>
        <!-- <ion-button (click)="home()" style="width: 40%;"  id="loginbutton"><b style="color: #4A7BC1;">홈으로</b></ion-button> -->
        <!-- <ion-button (click)="logout()" style="width: 40%;"  id="loginbutton"><b style="color: #4A7BC1;">로그아웃</b></ion-button> -->
        <ion-button (click)="home()" id="loginbutton" style="width: 80%; height: 40px; margin-top: 10px;" shape="round"><b style="color: #4A7BC1;">홈으로</b></ion-button>
        <ion-button (click)="logout()" id="loginbutton" style="width: 80%; height: 40px; margin-top: 10px;" shape="round"><b style="color: #4A7BC1;">로그아웃</b></ion-button>
      <!-- </ion-card-header><br> --> 
    <!-- </ion-card> -->
  </section>
  
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@로그인 화면@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
  <ng-template #loginItems>
    <b style="font-size: 28px; color: white;">로그인</b>
    <div style="margin-top: 20px;">
      <!-- email -->
      <div style="background-color: #5794E9; width: 80%; height: 44px; border-radius: 25px 25px 25px 25px;">
      <ion-input style="color: white;" [(ngModel)]="user.email" placeholder="이메일 아이디 입력"><img src="../../assets/img/email.png" style="width: 20px; height: 20px; margin-left: 20px;"></ion-input>
      </div>
      <!-- password -->
      <div style="background-color: #5794E9; width: 80%; height: 44px; border-radius: 25px 25px 25px 25px; margin-top: 10px;">
      <ion-input style="color: white;" type="password" [(ngModel)]="user.password" placeholder="비밀번호 입력"><img src="../../assets/img/password.png" style="width: 20px; height: 20px; margin-left: 20px;"></ion-input>
      </div>
    </div>

      <!-- 자동로그인 -->
      <!-- <label style="float: right; margin-right: 50px;"><input type="checkbox" checked name="color" value="1" style="margin-top: 10px; margin-right: 5px;">자동로그인</label> -->

    <section>
      <!-- 로그인 후 홈으로 이동 -->
      <ion-button (click)="login()" id="loginbutton" style="width: 80%; height: 40px; margin-top: 10px;" shape="round"><b style="color: #4A7BC1;">로그인</b></ion-button>
      <!-- 회원가입 페이지 화면으로 이동 -->
      <ion-button (click)="signup()" color="light" fill='clear' style="height: 20px; width: 45%; border-right: solid 1px #FFFFFF;"><p style="color: #FFFFFF; font-size: 14px; margin-left: 20px;">회원가입</p></ion-button>
      <!-- 비밀번호찾기 화면으로 이동 --> 
      <ion-button (click)="forgetpage()" color="light" fill='clear' style="height: 20px; width: 45%;"><p style="color: #FFFFFF; font-size: 14px; margin-right: 20px;">비밀번호찾기</p></ion-button><br>
      <!-- 카카오로그인 -->
      <!-- <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=d9193551170ff0ca2ecd6cc16e06de8f&redirect_uri=http://localhost:8100/login"><img  src="./kakao.png" alt=""/></a><br> -->
      <!-- 아이디찾기 화면으로 이동 -->
      <!-- <ion-button color="light" fill='clear' style="height: 30px; width: 45%; border-right: solid 1px black;"><p style="color: black; font-size: 15px;">아이디찾기</p></ion-button> -->
    </section>
  <!-- </ion-card> -->
    </ng-template>
  </center>
</ion-content>


