<!-- <ion-header>
  <ion-toolbar color="primary">
    <center>
      <ion-title style="color:white; font-size: large;">에이스원 공기청정기</ion-title>
  </center>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background">
<center>
  <div style="display: flex; text-align: center;  justify-content: center; margin-top: 228px;">
  <img src="assets/img/aceone.png" style="height: 100px; width: 88px; margin-right: 10px;">
  </div><br>
  <b style="font-size: 28px; color: white;">회원가입</b>
    <div style="margin-top: 20px;">
    <div style="background-color: #5794E9; width: 80%; height: 44px; border-radius: 25px 25px 25px 25px;">
      <ion-input style="color: white;" [(ngModel)]="user.email" placeholder="이메일 아이디 입력"><img src="../../assets/img/email.png" style="width: 20px; height: 20px; margin-left: 20px;"></ion-input>
    </div>
    <div style="background-color: #5794E9; width: 80%; height: 44px; border-radius: 25px 25px 25px 25px; margin-top: 10px;">
      <ion-input style="color: white;" type="password" [(ngModel)]="user.password" placeholder="비밀번호 입력"><img src="../../assets/img/password.png" style="width: 20px; height: 20px; margin-left: 20px;"></ion-input>
    </div>
    <div style="background-color: #5794E9; width: 80%; height: 44px; border-radius: 25px 25px 25px 25px; margin-top: 10px;">
      <ion-input style="color: white;" type="password" [(ngModel)]="password2" placeholder="비밀번호 확인"><img src="../../assets/img/password.png" style="width: 20px; height: 20px; margin-left: 20px;"></ion-input>
    </div>
    </div>
  <section>
    <ion-button (click)="createAccount()" id="loginbutton" style="width: 80%; height: 40px; margin-top: 10px;" shape="round"><b style="color: #4A7BC1;">회원가입</b></ion-button>
    <!-- <ion-button (click)="createAccount()" class="buttoncolor"  style="width: 48%;">회원가입</ion-button> -->
    <ion-button (click)="backlogin()" id="backbutton" style="width: 80%; height: 40px; margin-top: 7px;" shape="round"><b style="color: #FFFFFF;">돌아가기</b></ion-button>
    <!-- <ion-button (click)="backlogin()" class="buttoncolor" style="width: 48%;">돌아가기</ion-button> -->
  </section>
</center>
</ion-content>
