ion-content{
    --ion-background-color:linear-gradient(-50deg,#2d4297, #456cbe, #4e93b1);
  }

ion-item {
    --min-height: 70px;
  }

.buttoncolor{
    --ion-color-primary: #233f78;
  }


  #loginbutton{
    --ion-color-primary: #FFFFFF;
  }
  #backbutton{
    --ion-color-primary: none;
    border: 1px solid #FFFFFF;
    border-radius: 25px 25px 25px 25px;
  }