<ion-content [fullscreen]="false">
  <center style="background-color: #EAEAEA;">
    <div>
      <button id="message" disabled style="margin-top: 32px;"><b>dust 센서</b></button>
    </div> 
    
  <div class="ion-padding" style="height: 100vh;">
    <ion-card>
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</center>
</ion-content>

