<ion-content>
  <!-- <span style="display: flex; text-align: center;  justify-content: center; float: left; margin-right: 40px;">
    <img src="assets/img/aceone.png" style="height: 50px; width: 50px; margin-right: 10px;"><b style="font-size: 40px; color: white; ">Aceone</b>
  </span> -->
  <!-- <span *ngFor="let userDevice of userDeviceAll | keyvalue" style="float: right; background-color:transparent;">
    <button (click)="sensors(userDevice.value.deviceid)" block style="background-color:transparent;" id="info"><img src="../../assets/img/info.png" style="width: 50px; height: 50px; background-color:transparent;"></button>
  </span> -->

  <!-- <div style="display: flex; text-align: center;  justify-content: center;">
    <img src="assets/img/aceone.png" style="height: 50px; width: 50px; margin-right: 10px;"><b style="font-size: 40px; color: white; ">Aceone</b>
  </div> -->
  

  <!-- 공기청정기 controls table -->
  <center style="background-color: #EAEAEA; height: 100vh; background-position: center; background-repeat: no-repeat; background-size: cover;"><br><br>
    <!-- <img src="assets/img/aceone.png" style="height: 100px; width: 88px; margin-right: 10px;"> -->
    <div>
    <button id="message" disabled style="margin-top: 10px;"><b>공기청정기 제어</b></button><br>
    </div> 
    <!-- sensor info -->
    <div *ngFor="let userDevice of userDeviceAll | keyvalue" style="background-color:transparent;" id="info2">
      <button (click)="sensors(userDevice.value.deviceid)" block style="background-color:transparent;"><img src="../../assets/img/information2.png" style="width: 50px; height: 50px; background-color:transparent;"></button><br>
      <b>공기상태</b>
    </div>
    <!-- PowerControl -->
    <!-- <div style="float: left; margin-left: 30px;">
      <ion-toggle id="powerToggle" (ionChange)="powerControl($event.detail.checked)" checked={{powerChecked}}></ion-toggle>
    </div> -->
    <!-- <div class="box" style="background: white; margin-top: 100px; margin-left: 0px;">
      <img class="profile" src="../../assets/img/circle2.png">
      <ion-toggle style="margin-top:20px; margin-left: -130px;" id="powerToggle" (ionChange)="powerControl($event.detail.checked)" checked={{powerChecked}} ion-true-value="Yes" ion-false-value="No"></ion-toggle>
    </div><br> -->
    <!-- <div><b style="font-size: 20px;">전원On/Off</b></div> -->
    <!-- PowerControl -->
      <ion-item color="light" style="margin-top: 10px; width: 90%;" lines="none">
        <ion-label><img style="height: 40px; width: 40px;" src="../../assets/img/power.png"><b class="controlText">전원</b></ion-label>
        <ion-toggle style="margin-left: 75%;" id="powerToggle" (ionChange)="powerControl($event.detail.checked)" checked={{powerChecked}}></ion-toggle>
      </ion-item><br>
<!-- 여백 image -->
<!-- <img src="../../assets/img/windLine.png" style="height: 120px; width: 90%;"> -->

  <!-- ModeControl -->
  <div id="toggleDiv" style="width: 90%; margin-top: 0px;">
    <ion-item color="light" lines="none"> 
      <ion-label><img style="height: 40px; width: 40px;" src="../../assets/img/a-01.png"><b class="controlText">모드</b></ion-label>
      <ion-select (ionChange)="modeControl($event.detail.value)" value="{{mode}}">
      <ion-select-option value="1">자동모드</ion-select-option>
      <ion-select-option value="2">수면모드</ion-select-option>
      <ion-select-option value="3">쾌속모드</ion-select-option>
      <ion-select-option value="4">수동모드</ion-select-option>
      </ion-select>
    </ion-item><br>
  <!-- windControl -->
    <ion-item color="light" lines="none"> 
      <ion-label><img style="height: 40px; width: 40px;" src="../../assets/img/a-08.png"><b class="controlText">바람세기</b></ion-label>
      <ion-select (ionChange)="windControl($event.detail.value)" value="{{wind}}">
      <ion-select-option value="1">저속모드</ion-select-option>
      <ion-select-option value="2">중속모드</ion-select-option>
      <ion-select-option value="3">고속모드</ion-select-option>
      </ion-select> 
    </ion-item><br>
  <!-- lockControl -->
    <ion-item color="light" lines="none"> 
      <ion-label><img style="height: 40px; width: 40px;" src="../../assets/img/a-05.png"><b class="controlText">잠금</b></ion-label>
      <ion-label style="text-align: right;">{{lock == "1" ? "활성화" : "비활성화"}}</ion-label>
      <ion-toggle (ionChange)="lockControl($event.detail.checked)" checked={{lockChecked}}></ion-toggle>
    </ion-item><br>
  <!-- lightControl -->
    <ion-item color="light" lines="none"> 
      <ion-label><img style="height: 40px; width: 40px;" src="../../assets/img/a-04.png"><b class="controlText">조명</b></ion-label>
      <ion-label style="text-align: right;">{{light == "1" ? "켜짐" : "꺼짐"}}</ion-label>
      <ion-toggle (ionChange)="lightControl($event.detail.checked)" checked={{lightChecked}}></ion-toggle>
    </ion-item><br>
  <!-- soundControl -->
    <ion-item color="light" lines="none"> 
      <ion-label><img style="height: 40px; width: 40px;" src="../../assets/img/a-03.png"><b class="controlText">소리</b></ion-label>
      <ion-label style="text-align: right;">{{sound == "1" ? "소리모드" : "무음모드"}}</ion-label>
      <ion-toggle (ionChange)="soundControl($event.detail.checked)" checked={{soundChecked}}></ion-toggle>
    </ion-item><br>
  <!-- timerControl -->
    <ion-item color="light" lines="none"> 
    <ion-label><img style="height: 40px; width: 40px;" src="../../assets/img/a-02.png"><b class="controlText">예약</b></ion-label>
    <ion-select (ionChange)="timerControl($event.detail.value)" value="{{timer}}">
      <ion-select-option value="0">꺼짐</ion-select-option>
      <ion-select-option value="1">2시간</ion-select-option>
      <ion-select-option value="2">4시간</ion-select-option>
      <ion-select-option value="3">8시간</ion-select-option>
    </ion-select>
    </ion-item><br>
  </div>
</center>
</ion-content>
